<div class="row">
    <h1>Emploi du temps</h1>

    <label for="promotion"> Promo : </label>

    <select name="promotion" id="promotion" ng-model="promos">
        <option value="none" selected="selected">Selectionnez une promo</option>
        <option ng-repeat="option in promotions | filter:query" value="{{option.codeGroupe}}">{{option.nom}}</option>
    </select>

    <input type="text" placeholder="Recherche..." ng-model="query" size="10">

    <br /><br />
</div>



<div class="row">
    <div id="calendar" style="margin-bottom: 90px;"></div>


</div>



<!-- Modal -->
<div id="modalDialog" title="Informations...">
    {{ texte }}
    <strong>IdSeance : </strong> <span id="modal_seanceid">{{ infos.data.codeSeance }}</span><br />
    <strong>GROUPE : </strong> <span id="modal_groupe">{{ infos.nomGroupe }}</span><br />
    <strong>PROF : </strong> <span id="modal_prof">{{ infos.nomProf }}</span><br />
    <strong>COURS : </strong> <span id="modal_cours">{{ infos.alias }}</span><br />
    <strong>SALLE : </strong> <span id="modal_salle">{{ infos.salle }}</span><br />


</div>